html {
  background-image: -webkit-linear-gradient(65deg, #a683e3 50%, #e4e9fd 50%);
  min-height: 1000px;
  margin: 0;
  margin-top: 0;
  text-align: center;
}

h4 {
  margin: 0;
  font-family: "Uchen", serif;
  line-height: 1.6;
  text-transform: uppercase;
}

.arrange_list {
  text-align: left;
}
.welcome-mess {
  background-color: #a683e3;
  padding: 20px 50px 10px;
  margin: 2% 37% 0;
  border-style: inset;
  border-width: 3px;
  border-color: #fff;
  border-radius: 50% 10%;
}
.current-day {
  font-family: "Otomanopee One", sans-serif;
  font-weight: 2rem;
  font-size: 1rem;
}
.current-item {
  background-color: #a7bbc7;
  height: 40px;
  width: 300px;
  text-align: center;
  border-radius: 50px;
  padding-top: 10px;
  font-family: "Qahiri", sans-serif;
  font-size: 2rem;
  margin: 10px;
}
.current-item:last-child {
  border-style: outset;
}
.current-item:hover {
  opacity: 0.5;
}

ol {
  padding: 0;
  margin: auto 40%;
}
form {
  padding-top: 20px;
  padding-left: 50px;
}
input[type="text"] {
  height: 2em;
  padding: 2px;
  border: 1px solid #ddd;
  text-align: center;
  border-radius: 100px;
}

.button-style {
  border-radius: 100%;
  border-color: #fff;
  height: 50px;
  width: 50px;
  background-color: rgb(233, 216, 216);
  position: relative;

  text-decoration: italic;
}
.input-style {
  font-family: "Qahiri", sans-serif;
  font-size: 1.5em;
}
::placeholder {
  font-style: italic;
}
